{% extends 'base.html' %}

{% block top %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4 col-md-2 col-lg-2">
            {% if session.user_type == 'worker' %}
            <img src="{{ url_for('static', filename='images/profile_worker.jpg') }}" class="img-fluid rounded-start" alt="Логотип">
            {% endif %}

            {% if session.user_type == 'customer' %}
            <img src="{{ url_for('static', filename='images/profile_customer.jpg') }}" class="img-fluid rounded-start" alt="Логотип">
            {% endif %}
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <dl class="row">
                <dd class="col-sm-12"><h2>{{user.last_name}} {{user.first_name}} {{user.patronymic}}</h2></dd>
                
                {% if user.position %}
                <dt class="col-sm-3">Должность :</dt>
                <dd class="col-sm-9">{{user.position}}</dd>
                {% endif %}

                <dt class="col-sm-3">Номер телефона :</dt>
                <dd class="col-sm-9">{{user.phone}}</dd>

                <dt class="col-sm-3">Электронная почта :</dt>
                <dd class="col-sm-9">{{user.email}}</dd>
            </dl>

            <p class="card-text"><small class="text-muted">Дата регистрации: {{user.date_create.strftime('%d.%m.%Y')}}</small></p>
        </div> 
    </div>

{% endblock %}
