<h2>Регистрация</h2>
<form method="post">
    <input name="login" type="text" placeholder="Логин"><br>
    <input name="password" type="password" placeholder="Пароль"><br>
    <input name="last_name" type="text" placeholder="Фамилия"><br>
    <input name="first_name" type="text" placeholder="Имя"><br>
    <input name="patronymic" type="text" placeholder="Отчество"><br>
    <input name="phone" type="text" placeholder="Номер телефона"><br>
    <input name="email" type="email" placeholder="Электронная почта"><br>
    <button type="submit">Зарегистрироваться</button>
</form>
<a href="/login">Уже есть аккаунт?</a>