{% extends 'base.html' %}

{% block title %}#{{request.id}} Заявка на экспертизу{% endblock %}

{% block top %}
    <div class="row" style="margin-top: 20px;">
        <div class="row justify-content-end" style="margin-bottom: 10px;">
            {% if  session.user_type == 'customer' %}
            <div class="col-sm-2 col-md-2 col-lg-1">
                <button type="button" class="btn btn-outline-success open-modal" data-bs-toggle="modal" data-bs-target="#exampleModalUpdateRequest" name="btnUpdateRequest">Изменить</button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-1">
                <form action="{{ url_for('delete_request', id=request.id) }}" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Удалить</button>
                </form>
            </div>
            {% endif %}
            
            {% if  session.user_type == 'worker' %}
            <div class="col-sm-2 col-md-2 col-lg-2">
                <form action="{{ url_for('accept_request', id=request.id) }}" method="POST">
                    {% if session.login == worker.login %}
                    <button type="submit" class="btn btn-outline-primary">Отказаться от заявки</button>
                    {% else %}
                    <button type="submit" class="btn btn-outline-primary">Принять заявку</button>
                    {% endif %}
                </form>
            </div>

            
                {% if session.login == worker.login and expertise == None %}
            <div class="col-sm-2 col-md-2 col-lg-2">
                <form action="{{ url_for('add_expertise', id=request.id) }}" method="POST">
                    <button type="submit" class="btn btn-outline-primary">Создать экспертизу</button>
                </form>
            </div>
                {% endif %}
            
            <div class="col-sm-2 col-md-2 col-lg-2">
                <button type="button" class="btn btn-outline-success open-modal" data-bs-toggle="modal" data-bs-target="#exampleModalUpdateRequest" name="btnUpdateRequest">Изменить стутус</button>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-5 col-md-3 col-lg-2">
            <img src="{{ url_for('static', filename='images/product.jpg') }}" class="img-fluid rounded-start" alt="Логотип">
        </div>
        <div class="col-sm-8 col-md-10 col-lg-10">
            {% if  session.user_type == 'customer' %}
            <dl class="row">
                {%for entity in entities %}    
                    {% if request.id_entity == entity.id %}
                        {%for organization in organizations %}
                            {% if entity.id_organization == organization.id %}
                                {% for bank in banks %}
                                    {% if request.id_bank == bank.id %}

                <dd class="col-sm-10"><h2>#{{request.id}} Заявка на экспертизу {{entity.name}}</h2></dd>
                <dd class="col-sm-2">
                    <h5>
                        {% if request.status_request == 'Зарегистрирована' %}
                        <span class="badge text-bg-secondary">{{request.status_request}}</span>
                        {% elif request.status_request == 'В работе' %}
                        <span class="badge text-bg-warning">{{request.status_request}}</span>
                        {% elif request.status_request == 'Отклонена' %}
                        <span class="badge text-bg-danger">{{request.status_request}}</span>
                        {% elif request.status_request == 'Выполнена' %}
                        <span class="badge text-bg-success">{{request.status_request}}</span>
                        {% endif %}
                    </h5>
                </dd>
                
                <div class="py-2">
                    <hr class="my-0">
                </div>

                <dt class="col-sm-4">Наименование объекта :</dt>
                <dd class="col-sm-8">{{entity.name}}</dd>

                <dt class="col-sm-4">Наименование организации :</dt>
                <dd class="col-sm-8">{{organization.name}}</dd>

                <dt class="col-sm-4">Ответственный эксперт :</dt>
                <dd class="col-sm-8">{{worker.position}} {{worker.last_name}} {{worker.first_name}} {{worker.patronymic}}</dd>

                <dt class="col-sm-4">ОКВЭД :</dt>
                <dd class="col-sm-8">{{request.okved}}</dd>

                <dt class="col-sm-4">Наименование банка плательщика :</dt>
                <dd class="col-sm-8">{{bank.name}}</dd>

                <dt class="col-sm-4">Счет плательщика :</dt>
                <dd class="col-sm-8">{{request.account}}</dd>

                <dt class="col-sm-4">Телефон для обратной связи :</dt>
                <dd class="col-sm-8">{{request.phone}}</dd>

                <dt class="col-sm-4">Документация изготовителя :</dt>
                <dd class="col-sm-8">
                    <a href="{{ url_for('download_file', filename=request.link_material) }}">Документация изготовителя</a>
                </dd>
                <dt class="col-sm-4">Распечатать заявку :</dt>
                <dd class="col-sm-8">
                    <form action="{{ url_for('generate_pdf_request', id=request.id) }}" method="GET">
                        <button type="submit" class="btn btn-outline-secondary">PDF</button>
                    </form>
                </dd>

                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </dl>
            {% endif %}

            {% if  session.user_type == 'worker' %}
            <dl class="row">
                <dd class="col-sm-10"><h2>#{{request.id}} Заявка на экспертизу {{entity.name}}</h2></dd>
                <dd class="col-sm-2">
                    <h5>
                        {% if request.status_request == 'Зарегистрирована' %}
                        <span class="badge text-bg-secondary">{{request.status_request}}</span>
                        {% elif request.status_request == 'В работе' %}
                        <span class="badge text-bg-warning">{{request.status_request}}</span>
                        {% elif request.status_request == 'Отклонена' %}
                        <span class="badge text-bg-danger">{{request.status_request}}</span>
                        {% elif request.status_request == 'Выполнена' %}
                        <span class="badge text-bg-success">{{request.status_request}}</span>
                        {% endif %}
                    </h5>
                </dd>
                
                <div class="py-2">
                    <hr class="my-0">
                </div>

                <dt class="col-sm-4">Наименование объекта :</dt>
                <dd class="col-sm-8">{{entity.name}}</dd>

                <dt class="col-sm-4">Наименование организации :</dt>
                <dd class="col-sm-8">{{organization.name}}</dd>

                <dt class="col-sm-4">Ответственный эксперт :</dt>
                <dd class="col-sm-8">{{worker.position}} {{worker.last_name}} {{worker.first_name}} {{worker.patronymic}}</dd>

                <dt class="col-sm-4">ОКВЭД :</dt>
                <dd class="col-sm-8">{{request.okved}}</dd>

                <dt class="col-sm-4">Наименование банка плательщика :</dt>
                <dd class="col-sm-8">{{bank.name}}</dd>

                <dt class="col-sm-4">Счет плательщика :</dt>
                <dd class="col-sm-8">{{request.account}}</dd>

                <dt class="col-sm-4">Телефон для обратной связи :</dt>
                <dd class="col-sm-8">{{request.phone}}</dd>

                <dt class="col-sm-4">Документация изготовителя :</dt>
                <dd class="col-sm-8">
                    <a href="{{ url_for('download_file', filename=request.link_material) }}">Документация изготовителя</a>
                </dd>

                <dt class="col-sm-4">Распечатать заявку :</dt>
                <dd class="col-sm-8">
                    <form action="{{ url_for('generate_pdf_request', id=request.id) }}" method="GET">
                        <button type="submit" class="btn btn-outline-secondary">PDF</button>
                    </form>
                </dd>
            </dl>
            {% endif %}
            
            <div class="py-2">
                <hr class="my-0">
            </div>

            <dl class="row">
                <dt class="col-sm-4">Наименование характеристики</dt>
                <dd class="col-sm-8"><b>Описание характеристики</b></dd>

                {% for attribute in attributes %}
                <dt class="col-sm-4">{{attribute.name_attribute}} :</dt>
                <dd class="col-sm-8">{{attribute.description}}</dd>
                {% endfor %}
            </dl>

            <p class="card-text"><small class="text-muted">Дата регистрации: {{request.date_create.strftime('%d.%m.%Y')}}</small></p>
        </div>
        
    </div>

<!-- Modal -->
{% if  session.user_type == 'customer' %}
<div class="modal fade" id="exampleModalUpdateRequest" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить заявку</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateFormRequest" method="POST" action="{{ url_for('update_request', id=request.id) }}" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="id" value="{{request.id}}">
                    <div class="mb-3">
                        <label for="exampleSelectUpdateEntity" class="form-label">Объект для экспертизы</label>
                        <select class="form-select" name="exampleSelectUpdateEntity" id="exampleSelectUpdateEntity" aria-label="Выбирите объект для экспертизы" aria-describedby="entityHelp">
                            {%for entity in entities %}
                                {% if request.id_entity == entity.id %}
                            <option value="{{entity.id}}" selected>{{entity.name}}</option>
                                {% else %}
                            <option value="{{entity.id}}">{{entity.name}}</option> 
                                {% endif %}
                            {% endfor %}
                        </select>
                        <div id="entityHelp" class="form-text">Выберите объект для которого требуется провести экспертизу.</div>
                    </div>
                    <div class="mb-3">
                        <label for="formMaterialEntity" class="form-label">Загрузите документацию к объекту</label>
                        <input class="form-control" type="file" id="formMaterialEntity" name="formMaterialEntity" aria-describedby="materialEntityHelp">
                        <div id="materialEntityHelp" class="form-text">Подгружаются файлы форматов: 'docx', 'pdf', 'xlsx'. Название файлов следует писать на английском языке.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleSelectUpdateBank" class="form-label">Выбирите банк</label>
                        <select class="form-select" name="exampleSelectUpdateBank" id="exampleSelectUpdateBank" aria-label="Выбирите банк" aria-describedby="bankHelp">
                            {% for bank in banks %}
                                {% if request.id_bank == bank.id %}
                            <option value="{{bank.id}}">{{bank.name}}</option>
                                {% else %}
                            <option value="{{bank.id}}">{{bank.name}}</option> 
                                {% endif %}
                            {% endfor %}
                        </select>                     
                        <div id="bankHelp" class="form-text">Выберите объект для которого требуется провести экспертизу.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleAccount" class="form-label">Введите корреспондентский счет</label>
                        <input type="number" class="form-control" name="exampleAccount" id="exampleAccount" aria-describedby="accountHelp" pattern="\d{20}" value="{{request.account}}" required>
                        <div id="accountHelp" class="form-text">Вводится корреспондентский счет (20 символов).</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleUpdateOKVED" class="form-label">Введите ОКВЭД</label>
                        <input type="text" class="form-control" name="exampleUpdateOKVED" id="exampleUpdateOKVED" aria-describedby="okvedHelp" value="{{request.okved}}">
                        <div id="okvedHelp" class="form-text">Вводится ОКВЭД (6 символов).</div>
                    </div>
                    <div class="mb-3">
                        <label for="examplePhone" class="form-label">Введите номер телефона для обратной связи</label>
                        <input type="number" class="form-control" name="examplePhone" id="examplePhone" aria-describedby="phoneHelp" pattern="\d{12}" value="{{request.phone}}" required>
                        <div id="phoneHelp" class="form-text">Пример: 79999999999</div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Изменить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Modal -->
{% if  session.user_type == 'worker' %}
<div class="modal fade" id="exampleModalUpdateRequest" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить заявку</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateFormRequest" method="POST" action="{{ url_for('accept_request', id=request.id) }}" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="id" value="{{request.id}}">
                    <div class="mb-3">
                        <label for="exampleSelectUpdateRequestStatus" class="form-label">Выберите статус зявки на экспертизу</label>
                        <select class="form-select" name="exampleSelectUpdateRequestStatus" id="exampleSelectUpdateRequestStatus" aria-label="Выбирите статус заявки" aria-describedby="requestStatusHelp">
                            <option value="{{request.status_request}}" selected>{{request.status_request}}</option>
                            <option value="Зарегистрирована">Зарегистрирована</option>
                            <option value="В работе">В работе</option>
                            <option value="Отклонена">Отклонена</option>
                            <option value="Выполнена">Выполнена</option>
                        </select>                     
                        <div id="requestStatusHelp" class="form-text">Выберите статус зявки на экспертизу.</div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Изменить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}

{% endblock %}

{% block script %}

{% endblock %}