{% extends 'base.html' %}

{% block title %}Заявки на экспертизу{% endblock %}

{% block top %}
<div class="row" style="margin-top: 20px;">
    <form action="{{ url_for('requests') }}" method="GET">
        <label for="exampleFormControlSearch" class="form-label"><h3>Поиск заявки</h3></label>
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="exampleFormControlSearch" id="exampleFormControlSearch" placeholder="Введите название объекта или его ID...">
                    <label for="exampleFormControlSearch">Введите название объекта или его ID...</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelectOrganization" name="floatingSelectOrganization" aria-label="Floating label select example">
                        <option value="" selected>Все</option>
                        {% for organization in organizations %}
                        <option value="{{organization.id}}">{{organization.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Выберите название организации которой принадлежит объект</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelectStatusRequest" name="floatingSelectStatusRequest" aria-label="Floating label select example">
                        <option value="" selected>Все</option>
                        <option value="Зарегистрирована">Зарегистрирована</option>
                        <option value="В работе">В работе</option>
                        <option value="Отклонена">Отклонена</option>
                        <option value="Выполнена">Выполнена</option>
                    </select>
                    <label for="floatingSelect">Выберите статус заявки</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col col-sm-2 col-md-2 d-grid gap-2">
                <button class="btn btn-outline-info" type="submit" id="btnSerch">Поиск</button>
            </div>
        </div>
        <div class="py-3">
            <hr class="my-0">
        </div>
        <div class="row justify-content-end">
            <div class="col col-sm-2 col-md-2 d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModalAddEntity">Добавить объект</button>
            </div>
        </div>
    </form>     
</div>
{% endblock %}

{% block content %}
<div class="row">
    <table class="table caption-top">
        <caption>Список объектов</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование объекта</th>
                <th scope="col">Организация</th>
                <th scope="col">Статус заявки</th>
                <th scope="col">ОКВЭД</th>
                <th scope="col">БАНК</th>
                <th scope="col">кор.Счет</th>
                <th scope="col">Телефон</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Изменить</th>
                <th scope="col">Удалить</th>
            </tr>
        </thead>
        <tbody>
            {%for request in requests %}
                {%for entity in entities %}    
                    {% if request.id_entity == entity.id %}
                        {%for organization in organizations %}
                            {% if entity.id_organization == organization.id %}
            <tr>
                <th scope="row">{{request.id}}</th>
                <td>
                    <a href="{{ url_for('entity', id_organization=organization.id, id_entity=entity.id) }}" class="link-primary text-decoration-none">{{entity.name}}</a>
                </td>
                <td>
                     <a href="{{ url_for('organization', id=organization.id) }}" class="link-primary text-decoration-none">{{organization.name}}</a>
                </td>
                <td>{{request.status_request}}</td>
                <td>{{request.okved}}</td>
                <td>{{request.id_bank}}</td>
                <td>{{request.account}}</td>
                <td>{{request.phone}}</td>
                <td>{{request.date_create.strftime('%d.%m.%Y %H:%m')}}</td>
                
                <td>
                    <button type="button" class="btn btn-outline-success open-modal" data-bs-toggle="modal" data-bs-target="#exampleModalUpdateEntity" name="btnUpdateEntity" 
                        data-id="{{ entity.id }}" data-entity_name="{{ entity.name }}" data-id_organization="{{ organization.id }}" data-name_organization="{{ organization.name }}"
                        data-update-url="{{ url_for('update_entity', id=entity.id) }}">Изменить</button>
                </td>
                <td>
                    <form action="{{ url_for('delete_entity', id=entity.id) }}" method="POST">
                        <button type="submit" class="btn btn btn-outline-danger" onclick="return confirm('Вы уверены, что хотите удалить эту запись?')">Удалить</button>
                    </form>
                </td>
            </tr>  
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}

{% endblock %}