{% extends 'base.html' %}

{% block title %}Заявки на экспертизу{% endblock %}

{% block top %}
<div class="row" style="margin-top: 20px;">
    {% if  session.user_type == 'customer' %}
    <form action="{{ url_for('requests') }}" method="GET">
    {% endif %}
    {% if  session.user_type == 'worker' %}
    <form action="{{ url_for('requests_worker') }}" method="GET">
    {% endif %}
        <label for="exampleFormControlSearch" class="form-label"><h3>Поиск заявки</h3></label>
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="exampleFormControlSearch" id="exampleFormControlSearch" placeholder="Введите название объекта или его ID...">
                    <label for="exampleFormControlSearch">Введите название объекта или его ID...</label>
                </div>
            </div>
            {% if  session.user_type == 'customer' %}
            <div class="col-md-6">
            {% endif %}
            {% if  session.user_type == 'worker' %}
            <div class="col-md-4">
            {% endif %}
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelectOrganization" name="floatingSelectOrganization" aria-label="Floating label select example">
                        <option value="" selected>Все</option>
                        {% for organization in organizations %}
                        <option value="{{organization.id}}">{{organization.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Выберите название организации которой принадлежит объект</label>
                </div>
            </div>
            {% if  session.user_type == 'customer' %}
            <div class="col-md-6">
            {% endif %}
            {% if  session.user_type == 'worker' %}
            <div class="col-md-4">
            {% endif %}
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelectStatusRequest" name="floatingSelectStatusRequest" aria-label="Floating label select example">
                        <option value="" selected>Все</option>
                        <option value="Зарегистрирована">Зарегистрирована</option>
                        <option value="В работе">В работе</option>
                        <option value="Отклонена">Отклонена</option>
                        <option value="Выполнена">Выполнена</option>
                    </select>
                    <label for="floatingSelect">Выберите статус заявки</label>
                </div>
            </div>
            {% if  session.user_type == 'worker' %}
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelectWorker" name="floatingSelectWorker" aria-label="Floating label select example">
                        <option value="" selected>Все</option>
                        {% for worker in workers %}
                        <option value="{{worker.id}}">{{worker.last_name}} {{worker.first_name}} {{worker.patronymic}} ({{worker.position}})</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Выберите ответственного</label>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row justify-content-end">
            <div class="col col-sm-2 col-md-2 d-grid gap-2">
                <button class="btn btn-outline-info" type="submit" id="btnSerch">Поиск</button>
            </div>
        </div>
        <div class="py-3">
            <hr class="my-0">
        </div>
        {% if  session.user_type == 'customer' %}
        <div class="row justify-content-end">
            <div class="col col-sm-2 col-md-2 d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModalAddRequest">Добавить заявку</button>
            </div>
        </div>
        {% endif %}
    </form>     
</div>
{% endblock %}

{% block content %}
<div class="row">
    <table class="table caption-top">
        <caption>Список заявок</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование объекта</th>
                <th scope="col">Организация</th>
                <th scope="col">Статус заявки</th>
                <th scope="col">ОКВЭД</th>
                <th scope="col">БАНК</th>
                <th scope="col">кор.Счет</th>
                <th scope="col">Телефон</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Подробнее</th>
            </tr>
        </thead>
        <tbody>
            {%for request in requests %}
                {%for entity in entities %}    
                    {% if request.id_entity == entity.id %}
                        {%for organization in organizations %}
                            {% if entity.id_organization == organization.id %}
                                {% for bank in banks %}
                                    {% if request.id_bank == bank.id %}
            <tr>
                <th scope="row">{{request.id}}</th>
                
                {% if session.user_type == 'customer' %}
                <td>
                    <a href="{{ url_for('entity', id_organization=organization.id, id_entity=entity.id) }}" class="link-primary text-decoration-none">{{entity.name}}</a>
                </td>
                {% endif %}

                {% if session.user_type == 'worker' %}
                <td>{{entity.name}}</td>
                {% endif %}
                
                {% if session.user_type == 'customer' %}
                <td>
                     <a href="{{ url_for('organization', id=organization.id) }}" class="link-primary text-decoration-none">{{organization.name}}</a>
                </td>
                {% endif %}

                {% if session.user_type == 'worker' %}
                <td>{{organization.name}}</td>
                {% endif %}

                <td>{{request.status_request}}</td>
                <td>{{request.okved}}</td>
                <td>{{bank.name}}</td>
                <td>{{request.account}}</td>
                <td>{{request.phone}}</td>
                <td>{{request.date_create.strftime('%d.%m.%Y %H:%m')}}</td>
                
                <td>
                    {% if  session.user_type == 'customer' %}
                    <a class="btn btn-outline-info" href="{{ url_for('myrequest', id=request.id) }}" role="button">Подробнее</a>
                    {% endif %}

                    {% if  session.user_type == 'worker' %}
                    <a class="btn btn-outline-info" href="{{ url_for('request_worker', id=request.id) }}" role="button">Подробнее</a>
                    {% endif %}
                </td>
            </tr>  
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalAddRequest" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить заявку</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addFormRequest" method="POST" action="{{ url_for('add_request') }}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="exampleSelectEntity" class="form-label">Выбирите объект для экспертизы</label>
                        <select class="form-select" name="exampleSelectEntity" id="exampleSelectEntity" aria-label="Выбирите объект для экспертизы">
                            {%for entity in entities %}
                            <option value="{{entity.id}}">#{{entity.id}}. {{entity.name}}</option>
                            {% endfor %}
                        </select>                     
                    </div>
                    <div class="mb-3">
                        <label for="formMaterialEntity" class="form-label">Загрузите документацию к объекту</label>
                        <input class="form-control" type="file" id="formMaterialEntity" name="formMaterialEntity" aria-describedby="materialEntityHelp">
                        <div id="materialEntityHelp" class="form-text">Подгружаются файлы форматов: 'docx', 'pdf', 'xlsx'. Название файлов следует писать на английском языке.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleSelectBank" class="form-label">Выбирите банк</label>
                        <select class="form-select" name="exampleSelectBank" id="exampleSelectBank" aria-label="Выбирите банк">
                            {%for bank in banks %}
                            <option value="{{bank.id}}">{{bank.name}}</option>
                            {% endfor %}
                        </select>                     
                    </div>
                    <div class="mb-3">
                        <label for="exampleAccount" class="form-label">Введите корреспондентский счет</label>
                        <input type="number" class="form-control" name="exampleAccount" id="exampleAccount" aria-describedby="accountHelp" pattern="\d{20}" required>
                        <div id="accountHelp" class="form-text">Вводится корреспондентский счет (20 символов).</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleOKVED" class="form-label">Введите ОКВЭД</label>
                        <input type="text" class="form-control" name="exampleOKVED" id="exampleOKVED" aria-describedby="OKVEDHelp" required>
                        <div id="OKVEDHelp" class="form-text">Вводится ОКВЭД (6 символов).</div>
                    </div>
                    <div class="mb-3">
                        <label for="examplePhone" class="form-label">Введите номер телефона для обратной связи</label>
                        <input type="number" class="form-control" name="examplePhone" id="examplePhone" aria-describedby="phoneHelp" pattern="\d{12}" required>
                        <div id="phoneHelp" class="form-text">Пример: 79999999999</div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}